@tailwind base;
@tailwind components;
@tailwind utilities;


.react-terminal-input, .react-terminal-active-input, .terminal-hidden-input {
    word-break: break-all;
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}